<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inspireddesigns.pir">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomAppTheme">
        <activity
            android:name=".activity.home.HomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.home.ParentActivity"
            android:label="@string/title_activity_parent"></activity>
        <activity
            android:name=".activity.home.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name=".activity.home.CreateUserActivity"
            android:label="@string/title_activity_create_user_fragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
